container_commands:
    01-no_dev:
        command: "composer.phar install --optimize-autoloader"
    02_cd_html:
        command: "cd /var/www/html"
    03-migrate:
        command: "php artisan migrate"
    04-key_generate:
        command: "php artisan key:generate"
    05-config_clear:
        command: "php artisan config:clear"
    06-view_clear:
        command: "php artisan view:clear"
    07-route_cache:
        command: "php artisan route:cache"
    08-view_cache:
        command: "php artisan view:cache"
    