container_commands:
    01-no_dev:
        command: "composer.phar install --optimize-autoloader"
    02-migrate:
        command: "sudo php artisan migrate"
    03-key_generate:
        command: "sudo php artisan key:generate"
    04-config_clear:
        command: "sudo php artisan config:clear"
    05-view_clear:
        command: "sudo php artisan view:clear"
    06-route_cache:
        command: "sudo php artisan route:cache"
    07-view_cache:
        command: "sudo php artisan view:cache"
    