files:
  /opt/elasticbeanstalk/hooks/appdeploy/post/99_create_cache.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      /usr/bin/php /var/www/html/artisan config:cache && /usr/bin/php /var/www/html/artisan route:cache && /var/www/html/artisan view:cache && /usr/bin/php /var/www/html/artisan route:cache && /usr/bin/php /var/www/html/artisan event:cache  >>/var/log/artisan_test.log