container_commands: 
  01-no_dev: 
    command: "composer.phar install --optimize-autoloader"
  02_set_directory: 
    command: "cd /var/www/html"
  03_create_env: 
    command: "cp .env.empty .env"
  04_popluate_env: 
    command: "/opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | \"\\(.key)=\\(.value)\"' > .env"
  05-migrate: 
    command: "sudo php artisan migrate --no-interaction --force"
  06_cron_job:
    command: "rm /etc/cron.d/cron_job && cat .ebextensions/cron_job.txt > /etc/cron.d/cron_job && chmod 644 /etc/cron.d/cron_job"
    leader_only: true